.contact-ellipse-icon {
  width: 49px;
  height: 44px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.pet {
  width: 41px;
  height: 23px;
  position: relative;
  display: inline-block;
}
.pet-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0px 0px;
}
.dogs-text-child {
  height: 32px;
  width: 183px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.dogs {
  height: 19px;
  width: 40px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dogs-text {
  flex: 1;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-6xs);
  font-size: var(--font-size-base);
}
.main-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.contact-ellipse {
  width: 316px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 30px;
  box-sizing: border-box;
}
.inner-frames-icon {
  align-self: stretch;
  height: 124px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-clusters {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  min-width: 67px;
  max-width: 90px;
}
.frame-clusters1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-35xl) 0px 0px;
  box-sizing: border-box;
  min-width: 79px;
  max-width: 86px;
}
.parent-rectangle {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.framed-rectangles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.about {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 80px var(--padding-23xl) var(--padding-32xl);
  box-sizing: border-box;
  gap: 38px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inter);
}

<<<<<<< HEAD
@media screen and (max-width: 450px) {
=======
@media screen and (max-width: 299px) {

>>>>>>> Incoming
  .main-frame {
    gap: var(--gap-base);
  }

  .parent-rectangle {
    gap: var(--gap-base);
  }

  .about {
    gap: 19px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
