body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
<<<<<<< HEAD
=======
  --font-size-xs: 12px;

>>>>>>> Incoming
  --font-size-lgi: 19px;
  --font-size-7xs: 6px;

  /* Colors */
  --color-white: #fff;
<<<<<<< HEAD
=======
  --color-gainsboro: #d9d9d9;

>>>>>>> Incoming
  --color-black: #000;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
<<<<<<< HEAD
=======
  --gap-xl: 20px;
  --gap-26xl: 45px;

>>>>>>> Incoming
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-6xs: 7px;

  /* Paddings */
<<<<<<< HEAD
=======
  --padding-72xl: 91px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-2xl: 21px;
  --padding-5xs: 8px;
  --padding-sm: 14px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-3xs: 10px;
  --padding-6xs: 7px;
  --padding-smi: 13px;
  --padding-base: 16px;
  --padding-lgi: 19px;
  --padding-11xs: 2px;
  --padding-4xl: 23px;

>>>>>>> Incoming
  --padding-23xl: 42px;
  --padding-4xs: 9px;
  --padding-22xl: 41px;
  --padding-10xs: 3px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-2xl: 21px;
  --padding-3xs: 10px;
  --padding-32xl: 51px;
  --padding-35xl: 54px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-lg: 18px;
  --padding-2xs: 11px;
  --padding-sm: 14px;
  --padding-mid: 17px;
  --padding-lgi: 19px;
  --padding-base: 16px;
  --padding-8xs: 5px;
}
